body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(234, 234, 234, 0.571),
      rgba(234, 234, 234, 0.571)
    ),
    url(../imgs/login-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.login-screen {
  width: 100%;
  height: 80vh;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  border-radius: 20px;
}

button {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #ff9c63;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
}
